* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
   --modo1: #cecece;
   --color-main1: #AD0600;
   --color-main2: #FFFF00;
   --color-main3: #1A1A1A;
}
body {
    display: flex;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--modo1);
    overflow: auto;
}
#cat_fogao {
    width: 1000px;
    height: 100vh;
    background-color: var(--color-main1);
    position: relative;
}
header {
    display: flex;
    align-items: center;
    width: auto;
    height: 15%;
    padding: 15px 25px;
    position: relative;
    box-shadow: 0px 5px 0px var(--color-main2);
}
.logo {
    height: 100%;
}
#filtro {
    width: 100px;
    border: none;
}
.cam-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 190px;
    height: 30px;
    padding: 5px;
    right: 15px;
    bottom: 15px;
    position: absolute;
    border-radius: 3px;
    background-color: #FFF;
}
/**/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    padding: 15px 10px 0px 10px;
    position: relative;
}
#loading_cell {
    background-color: #ffffff80;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
}
#simulator_shop {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #1a1a1ab0;
    z-index: 100;
}
.box1 {
    width: 500px;
    min-height: 230px;
    border-radius: 8px;
    background-color: #000514;
    color: #fff;
    padding: 10px 20px;
}
.box1 input, .box1 select {
    border: none;
    width: 60px;
    text-align: center;
    margin: 0px 10px;
}
.line {
    display: flex;
    margin: 5px 0px;
}
.line div {
    display: inline-block;
}
.line_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}
.line_btn button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}
.line_btn button:nth-child(1) {
    background-image: linear-gradient(to bottom, #d40404, #700101);
}
.line_btn button:nth-child(2) {
    background-image: linear-gradient(to bottom, #0bd404, #047700);
}
.line_btn button:nth-child(1):hover {
    background-image: linear-gradient(to bottom, #ff0000, #ff0000);
}
.line_btn button:nth-child(2):hover {
    background-image: linear-gradient(to bottom, #09ff00, #09ff00);
}
.val_input {
    background-color: #272d3f;
    color: #414141;
    padding: 0px 2px;
    cursor: no-drop;
}
.result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
.border_result {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #fff;
    border-radius: 5px;
    height: 70px;
    width: 400px;
    position: relative;
}
.container_result {
    width: 49%;
    height: 100%;
}
.top_container{
    font-size: .6em;
    padding: 4px 10px;
}
.body_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.vertical_line {
    height: 70%;
}
#secao {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 8px 8px 0px 0px;
    background-color: #FFF;
    overflow: auto;
    position: relative;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 355px;
    width: 200px;
    padding: 5px;
    cursor: pointer;
    border: solid 1px var(--modo1);
    border-radius: 3px;
    position: relative;
}
.card:hover {
    box-shadow: 0px 0px 2px #00000073;
}
.card > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.card > .container > .container_2, .container_3 {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container_3 span {
    margin: 0px 5px;
}
.descrition {
    color: var(--color-main3);
    display: flex;
    text-align: justify;
    width: 100%;
    height: 3em;
    font-size: .8em;
    padding: 0px 5px;
}
.preco {
    color: var(--color-main3);
    font-weight: 600;
    width: 100%;
    padding: 5px 10px 2px 10px;
}
.cod {
    width: 100%;
    color: #666666;
    font-size: .7em;
    padding: 0px 10px;
}
.image-view {
    width: 100%;
}
.button-more {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 100%;
    color: #FFF;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    background-color: #1A1A1A;
    border: solid 1px var(--color-main3);
}
#btn_storeSimulator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    margin: 3px 0px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    background-color: #666666;
    color: #fff;
    border: solid 1px var(--color-main3);
}
#btn_storeSimulator span {
    font-size: 1.1em;
}
#btn_storeSimulator:hover {
    background-color: #fff;
    color: var(--color-main3);
}
.button-more:hover {
    background-color: #FFF;
    color: var(--color-main3);
    border: solid 1px var(--color-main3);
}
.icon {
    margin: 0px 0px;
    font-size: 1.3em;
}
.logo_loading1 {
    width: 80px;
    height: 80px;
    animation: is-rotate-hora 1.5s infinite;
    border-radius: 50%;
    border: solid 3px #1A1A1A;
    border-right-color: transparent;
}
.logo_loading2 {
    height: 60px;
    width: 60px;
    position: absolute;
    animation: is-rotate-ant 1s infinite reverse;
    border-radius: 50%;
    border: solid 3px var(--color-main2);
    border-top-color: transparent;
}
.logo_loading3 {
    height: 40px;
    width: 40px;
    position: absolute;
    animation: is-rotate .5s linear infinite;
    border-radius: 50%;
    border: solid 3px var(--color-main1);
    border-left-color: transparent;
}
#valor_money:disabled {
    background-color: #272d3f;
    cursor: no-drop;
}
#calcPar:disabled {
    background-image: linear-gradient(to bottom, #666666, #666666);
    box-shadow: inset 0px 0px 6px #000000c4;
    cursor: no-drop;
}
/*MOBILE*/
@media screen and (max-width: 500px) {
    #secao {
        display: flex;
        flex-direction: column;
    }
    .card {
        height: 200px;
        width: 100%;
        flex-direction: row;
    }
    .image-view {
        height: 100%;
        width: auto;
    }
    .card > .container {
        justify-content: center;
    }
    .logo {
        height: 70%;
    }
}

@keyframes is-rotate-hora {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes is-rotate-ant {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
@keyframes is-rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
